<h1>Login</h1>

<p>@ViewBag.msg</p>
<form action="/Login/Login" method="post">
    <label>ingrese mail</label>
    <input type="email" name="email" />
    <br />
    <label>ingrese contraseña</label>
    <input type="password" name="pwd" />
    <br />
    <input type="submit" value="Login" />
</form>
