


<h1>Login</h1>

<p>@ViewBag.msg</p>
<form action="/Pago/CreateRecurrente" method="post">
    <label>Metodo de pago</label>
    <input type="text" name="" />
    <br />
    <label>Tipo de Gasto</label>
    <input type="text" name="" />
    <br />
    <label>Usuario</label>
    <input type="text" name="" />
    <br />
    <label>Descripcion</label>
    <input type="text" name="" />
    <br />
    <label>Monto</label>
    <input type="text" name="" />
    <br />
    <label>Fecha de Fin</label>
    <input type="text" name="" />
    <br />
    <input type="submit" value="Login" />
</form>
