@using Dominio.Entidades;

<table>
    <tr>
        <th>Descripción </th>
        <th>Monto</th>
    </tr>
@foreach (Pago p in Model)
    {
       // if (pagoi is Recu)
        <tr>
            <td>@p.Descripcion </td>
            <td>@p.Monto.ToString()</td>
        </tr>
    }

</table>
